<form method="post" action="{{ path('app_donation_delete', {'id': donation.id}) }}" onsubmit="return confirm('Esti sigur ca vrei sa stergi aceasta donatie?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ donation.id) }}">
    <button class="btn">Sterge</button>
</form>
