<form method="post" action="{{ path('app_blood_group_delete', {'id': blood_group.id}) }}" onsubmit="return confirm('Esti sigur ca vrei sa stergi aceasta grupa de sange?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ blood_group.id) }}">
    <button class="btn">Sterge</button>
</form>
