

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

{% block body %}
    <style>
        body{
            background-image: url("{{ asset('images/blood drops.jpg') }}") no-repeat center center fixed;
            background-size: cover;
        }

        .vertical-center {
            margin: 0;
            position: absolute;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        .horizontal-center {
            margin: 0;
            position: absolute;
            left: 50%;
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
        }

        .center {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        .bottom-center {
            bottom: 15%;
            left: 50%;
            transform: translateX(-50%);
        }

        .btn{
            border-radius: 20px;
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 1px;
            text-transform: uppercase;
            padding: 12px 45px;
        }

        .bg-red
        {
            background-color: firebrick;
        }
    </style>


    <body>
    <body>
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <h5 class="text-white h4">Bloody system</h5>
            <span class="text-muted">“Never feel yourself weak, you have the ability to save a life. Just donate blood.”</span>
        </div>
    </div>
    <nav class="navbar navbar-dark">
        <div class="container-fluid">
            <br>
            <button class="navbar-toggler bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <div class="vertical-center navbar navbar-warning bg-red" style="width: 100%; height: 300px; opacity: 0.9;">
        <h1 class="horizontal-center text-white" style="top: 15%; font-family: Brush Script MT; font-size: 80px;">Bloody system</h1>
        <hr class="horizontal-center text-white" style="height:5px; width: 50%; opacity: 1.0;">
        <i><h4 class="horizontal-center text-white" style="bottom: 25%; text-align: center;">Be the reason for someone's heartbeat
                <!doctype html>
                <html lang="en">
                <head>
                    <meta charset="UTF-8">
                    <meta name="viewport"
                          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
                    <meta http-equiv="X-UA-Compatible" content="ie=edge">
                    <title>Document</title>
                </head>
                <body>
                
                </body>
                </html></h4></i>
    </div>

    <div class="position-absolute bottom-center">
        <a type="button" class="btn btn-danger btn-lg" href="{{ path('app_blood_group_index') }}">Start</a>
    </div>

    </body>

    </body>
{% endblock %}
