<form method="post" action="{{ path('app_requester_delete', {'id': requester.id}) }}" onsubmit="return confirm('Esti sigur ca vrei sa stergi acest caz?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ requester.id) }}">
    <button class="btn btn-danger">Sterge</button>
</form>
